/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

.student-info {
    font-size: 14px;
}

.contact-form {
    margin: 20px;
}

.contact-form h1 {
    font-size: 24px;

}

.contact-form form {
    margin-top: 20px;
    color: black;
    
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    margin-left: 20%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20%;
}

.contact-form input[type="submit"],
.contact-form input[type="reset"] {
    padding: 8px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="reset"]:hover {
    background-color: #555;
}

.contact-form textarea {
    resize: vertical;
}