body{
    background-color: skyblue;
    font-family: sans-serif;
}

.contact-box{
  
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

h3{
    text-align: center;
}




