/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

.student-info {
    font-size: 14px;
}

.gallery {
    margin: 20px;
}

.gallery h1 {
    font-size: 24px;
}

.photo {
    margin-top: 20px;
}

.photo img {
    width: 35%;
   ​⬤